// Color Theme
$primary-color: #febd69; // Amazon's yellow
$primary-color-hover: #f3a847; // Darker yellow on hover
$secondary-color: #037883; // A complementary blue
$text-color: #333; // Dark gray for text
$background-color: #fff; // White background
$border-color: #ddd; // Light gray for borders
$header-background: black;
$header-text: white;
$top-bar-background: #232f3e; // Darker background for top bar
$top-bar-text: white;
$dropdown-background: #232f3e;
$dropdown-text: #fdfdfd;
$dropdown-hover-background: #f0f0f0;